<div class="comment">
  <%= comment.description %>
  <div class="voting-buttons">
    <div class="buttons-left">
      <%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
    </div>
    <div class="buttons-left">
      <%= button_to "up", vote_post_comment_path(comment, type: "up") %>
    </div>
    <div class="buttons-left">
      <%= button_to "down", vote_post_comment_path(comment, type: "down") %>
    </div>
  </div>
</div>