<div class="comment">
  <%= comment.description %>
  <div class="voting-buttons">
    <%= button_to "up", vote_post_comment_path(comment, type: "up") %>
    <%= button_to "down", vote_post_comment_path(comment, type: "down") %>
  </div>
</div>