Make a new post here

<%= render 'form' %>



<%#= form_tag posts_show_path :method => 'post' do %>
<p>
<%#= text_field_tag :topic, params[:topic] %>
<%#= button_to "Post Topic"  %>
<%# end %>
</p>
<br>

